<form action="/book/create" method="post">
    <p>name</p>
    <input type="text" name="name">
    <br>
    <p>author</p>
    <input type="text" name="author">
    <p>publisher</p>
    <input type="text" name="publisher">
    <button type="submit" >submit</button>
</form>

